/*link de GoogleFonts se seleccionaro tres tamaños de poppins
font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-adornos: #3467a7;
    --color-bk-adornos: #effbfa;
    --color-titulos: #004aad;
    --titulos:#555555;

}



body {
    font-family: "Poppins", sans-serif;
    color: var(--titulos);
}

/*---------------------------seccion de menu Navbar------------------------*/

/* nav ul li a:hover{
    color: var(--color-titulos) !important;
} */

.container-icons svg{
    color: black;
    margin-right: 15px;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.container-icons svg:hover{
    color:var(--titulos);
}


/*---------------------------seccion de menu Navbar------------------------*/

/*seccion estilos del home*/
.home {
   background-image: url("../img/home2.jpg");
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   z-index: 2;

}

.home::after{
   content:"";
   width: 100%;
   height: 100%;
   position:absolute;
   top:0;
   left: 0;
   background-color: rgba(5, 3, 22, 0.336);
   z-index: -1;
}
/*seccion estilos del home*/


/*seccion About */

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555555;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    padding-bottom: 10px;
  }
  .about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #34b7a7;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
/*seccion About End*/

/*seccion resume */

.resume-item{
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--color-adornos);
  position: relative;
}

.resume-item h4{
  color: var(--color-titulos);
}

.resume ul li{
  padding-top: 10px;
}

.resume-item h6{
  background-color: var(--color-adornos);
  /* text-align: center; */
  display: inline-block;
  padding:  2px 8px;
  border-radius: 3px;
  color: var(--color-bk-adornos);
}

.resume p{
  margin:  8px 0px;
}

.resume-item::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  left: -9px;
  top: 0;
  background-color: var(--color-adornos);
  border: 2px solid var(--color-titulos);
  
}
/*seccion resume end */


/*seccion Generales */
section{
    padding-top: 70px;
}

.section-title{
    padding-bottom: 30px;
    text-align: center;
}
.section-title h1 {
    margin-bottom: 40px;
}
.section-title h1::after{
    content: "";
    position: absolute; 
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--color-titulos);
    align-items: center;
    left: calc(50% - 50px);
    margin-top: 10px;
}


/*seccion Generales end */
/*seccion Slider logos end */
.slider {
  width: 100%;
  overflow: hidden; /* Oculta el contenido desbordante */
  position: relative;
}

.slide-track {
  display: flex;
  width: calc(150px * 17); /* Ajusta según la cantidad de logos */
  animation: scroll 30s linear infinite;
  
}

.slide {
  min-width: 150px; /* Ajusta según la cantidad de logos */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slide img {
  width: 110px; /* Ajusta el tamaño de los logos */
  height: auto;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

/*seccion Slider logos end */